@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:white;
    color: #333;
}

.event-dashboard-container {
    display: flex;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    flex-direction: row;
}
.no-underline {
    text-decoration: none;
    color: white;
}
.accordion-wrapper {
    flex: 0 0 20%;
   
    overflow: hidden;
    box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);
    margin-right: 10px;
    background: #C11F50;
}

.chart-session {
    flex: 1; /* Flex-grow to take remaining width */
 
}

.main-container {
    width: 100%;
    margin: 0 auto;
}

/* accordion */

.accordion {
    width: 100%;
    color: white;
    overflow: hidden;
    margin-bottom: 16px;
}

.accordion:last-child {
    margin-bottom: 0;
}

.accordion-label {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    background: #C11F50;
    font-weight: bold;
    cursor: pointer;
    font-size: 20px;
}

.accordion-label::after {
    content: "\276F";
    width: 16px;
    height: 16px;
    text-align: center;
    transition: transform 0.3s;
}

.accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    padding: 0 16px;
    color: black;
    background: #C11F50;
}

.accordion-content ul {
    list-style-type: disc;
    padding-left: 40px;
    margin: 16px 0;
}

.accordion-content li {
    margin-bottom: 10px;
    font-size: 13px;
    color: white;
    font-weight: 600;
    font-family: poppins;
}

.accordion-checkbox {
    display: none;
}

.accordion-checkbox:checked + .accordion-label + .accordion-content {
    max-height: 1000px; /* large value to ensure it can contain the content */
    padding: 16px;
}

.accordion-checkbox:checked + .accordion-label::after {
    transform: rotate(90deg);
}

.accordion-label {
    background: white;
    color: black;
    font-size: 13px;
    font-family: poppins;
    font-weight: 700;

}

/* chartsession */

.heading {
    font-family: 'Poppins', sans-serif,'poppins';
    font-size: 21px;
    font-weight: 500;
}

.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-style: normal;
}

.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings: "slnt" 10;
}

.wordspace {
    font-size: 22px;
    letter-spacing: 1px;
    margin-top: 10px;
}

.poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}
.home-icon{
    display: flex;
    align-items: center;
}
.home-text{
    font-size: 16px;
    font-weight: 500;
    font-family: poppins;
    color: #C11F50;
}
.earning-text{
    font-size: 22px;
    font-weight: 500;
    font-family: poppins;
    margin-bottom: -19px;
}
.line{
    width:17%;
    height:5px;
   
   background-color: #C11F50;
    margin-bottom:20px
}
.earning-money {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    flex-direction: row; /* Default for larger screens */
}

.life-time {
    display: flex;
    align-items: center;
}

.circle-container {
    width: 123.79px;
    height: 123.79px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid #C11F50;
    position: relative; /* Ensure absolute positioning for .small-circle */
}

.circle-container img {
    object-fit: cover;
}

.small-circle {
    position: absolute;
    bottom: 10px; /* Adjust position as needed */
    right: 10px; /* Adjust position as needed */
    width: 5px;
    height: 5px;
    background-color: #C11F50;
    border-radius: 50%;
}

.life-time-box {
    width: 203px;
    background-color: rgba(244, 243, 243, 1);
    padding: 10px;
    margin-left: 10px; /* Add some space between the circle and the box */
}

/* Responsive styles */
@media (max-width: 768px) {
    .earning-money {
        flex-direction: column;
    }

    .life-time {
        margin-bottom: 20px; /* Add space between the items */
    }

    .life-time:last-child {
        margin-bottom: 0; /* Remove margin from the last item */
    }
}

@media (max-width: 576px) {
    .circle-container {
        width: 100px;
        height: 100px;
    }

    .life-time-box {
        width: auto;
        padding: 5px;
    }

    .life-time-box p {
        font-size: 14px;
    }

    .life-time-box p:first-child {
        font-size: 10px;
    }
}

/* event bar chart */

.event_bar_container {
    display: flex;
    justify-content: space-between;
    align-items: start;
    width: 100%;
    gap: 30px;
    margin: 15px 0;
}

.bar-text {
    font-size: 22px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    margin-bottom: -19px;
}

.event-text {
    font-size: 22px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    margin-bottom: -19px;
}

.linep {
    width: 16%;
    height: 5px;
    background-color: #C11F50;
    margin-bottom: 65px;
}

.lineq {
    width: 12%;
    height: 5px;
    background-color: #C11F50;
    margin-bottom: 20px;
}

.event-container {
    box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);
    width: 50%;
    padding: 10px;
}

.bar_container {
    position: relative;
    box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);
    width: 50%;
}

.active, .past, .active_event, .draft, .sponsor, .bookmarked {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.active, .active_event, .sponsor {
    background: rgba(244, 243, 243, 0.7);
}

.count-store {
    padding: 12px 15px;
    background-color: #C11F50;
    color: white;
}

.barline {
    width: 100%;
    height: 1px;
    background: rgba(0, 0, 0, 0.2);
    margin-bottom: 65px;
}

.chart-progress {
    
    gap: 22px;
   
    
    position: relative;
    z-index: 1;
    height: 329px;

    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.chart-progress > div {
    width: calc(100% / 6 - 10px);
    padding: 10px;
    text-align: center;
    border-radius: 8px;
}

.chart-progress > div > div:first-child {
    width: 32px;
    height: auto;
    margin: 0 auto;
    box-sizing: border-box;
}

.chart-progress > div > div:last-child {
    font-size: 10px;
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
}

.chart-line {
    position: absolute;
    top: 34.1%;
    left: 0;
    width: 100%;
    z-index: 0;
}

/* Responsive styles */
@media (max-width: 1200px) {
    .chart-progress > div {
        width: calc(100% / 3 - 10px);
    }
}

@media (max-width: 992px) {
    .chart-progress > div {
        width: calc(100% / 2 - 10px);
    }
    
}

@media (max-width: 768px) {
    .event_bar_container {
        flex-direction: column;
    }

    .event-container,
    .bar_container {
        width: 100%;
    }

    .chart-progress > div {
        width: 100%;
    }
    .chart-progress {

        display: flex;
    justify-content: space-between;
    gap: 0px;
    }
    
}

@media (max-width: 576px) {
    .chart-progress > div {
        font-size: 8px;
    }

    .chart-progress > div > div:first-child {
        height: 100px;
    }

    .count-store {
        padding: 8px 10px;
    }
}


















  
/* Responsive Design */



/* For larger screens */
@media (max-width: 1200px) {
    .accordion-wrapper {
        flex: 0 0 25%;
    }

    .chart-session {
        flex: 0 0 75%;
    }
}

/* For medium screens */
@media (max-width: 992px) {
    .accordion-wrapper {
        flex: 0 0 30%;
    }

    .chart-session {
        flex: 0 0 70%;
    }
}

/* For smaller screens */
@media (max-width: 768px) {
    .event-dashboard-container {
        flex-direction: column;
    }

    .accordion-wrapper {
        flex: 0 0 100%;
        margin-bottom: 20px; /* Space between the accordion and chart-session */
    }

    .chart-session {
        flex: 0 0 100%;
    }
}

/* For extra small screens */
@media (max-width: 600px) {
    .earning-money {
        flex-direction: column;
    }
}

@media (max-width: 576px) {
    .accordion-label {
        font-size: 18px;
    }

    .accordion-content li {
        font-size: 14px;
    }

    .heading {
        font-size: 18px;
    }
}